<vaadin-tabs theme="minimal" orientation="vertical" id="sideMenu">
  <h1><i>Logo</i></h1>
  <vaadin-tab routerLink="/dashboard">&nbsp;&nbsp;&nbsp;Dashboard</vaadin-tab>
  <vaadin-tab>&nbsp;&nbsp;&nbsp;Menú</vaadin-tab>
  <vaadin-tab>&nbsp;&nbsp;&nbsp;Inventario</vaadin-tab>
  <vaadin-button theme="primary" routerLink="/take-order">
    <!--<iron-icon icon="vaadin:vaadin:plus-circle-o" slot="prefix"></iron-icon> -->
    Nueva orden
  </vaadin-button>

</vaadin-tabs>

<router-outlet></router-outlet>
