
<div id="vaadin-vertical-layout">

  <div class="block">
    <h2>Dashboard</h2>
  </div>

  <div class="block">

    <select id="vaadin-select" placeholder="Disponibles" label="Area">
          <option>Option one</option>
          <option>Option two</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </div>

  <div class="block"><h3><b>Mesa 1</b></h3></div>
  <div class="block" style="margin-left:30px;">

        <div class="items">
          <h4>Nombre Platillo</h4>
          <h5>Tiempo: 15 min<br>Ingrediente 1<br>Ingrediente 2: !!!<br>
            Metódo
          </h5>
        </div>

        <div class="items">
          <h4>Nombre Platillo</h4>
          <h5>Tiempo: 15 min<br>Ingrediente 1<br>Ingrediente 2</h5>
        </div>

        <div class="items">
          <h4>Nombre Platillo</h4>
          <h5>Tiempo: 15 min<br>Ingrediente 1<br>Ingrediente 2</h5>
        </div>

  </div>
  <div class="block"><h3><b>Mesa 2</b></h3></div>
</div>
